@import "../../../styles/icon.scss";
$root_url: "../../../assets/";

.header {
  width: 100%;
  height: 220px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  z-index: 100;

  @for $i from 1 through 3 {
    &.banner#{$i} {
      @include bg('#{$root_url}banner#{$i}.png');
    }
  }

  .title-con {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 42px;
    display: flex;
    justify-content: space-between;

    .icon-con {
      display: flex;
      align-items: center;
      cursor: pointer;
      .logo {
        display: block;
        width: 34px;
        height: 34px;


        @for $i from 1 through 3 {
          &.logo#{$i} {
            @include bg('#{$root_url}logo#{$i}.png');
          }
        }
      }
      & > span {
        margin-left: 10px;
        font-size: 30px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }

  .op-con {
    display: flex;
    align-items: center;

    .upload-box {
      display: flex;
      align-items: center;
      cursor: pointer;

      & > i {
        font-size: 20px;
        color: #fff;
      }

      & > span {
        margin-left: 10px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.09px;
        line-height: 28px;
      }
    }

    .op-box {
      display: flex;
      align-items: center;
      margin-left: 50px;
      cursor: pointer;

      .user {
        display: block;
        width: 30px;
        height: 30px;
        @include icon('#{$root_url}user.png');
      }

      & > span {
        font-size: 14px;
        margin-left: 10px;
        color: #FFFFFF;
        letter-spacing: 0.09px;
        line-height: 28px;
      }
      & > i:last-child {
        font-size: 18px;
        margin-left: 10px;
        color: #FFFFFF;
      }
    }
  }
}
.menu-list {
  padding: 0;
  width: 150px;

  .menu-item {
    margin-top: 0;
    height: 44px;
    line-height: 44px;
    display: flex;
    align-items: center;

    &::before {
      height: 0;
      margin: 0;
    }

    & > i {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        & > i {
          @include icon('#{$root_url}menu_item#{$i}.png');
        }
      }
    }
  }
}